<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_again_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{411,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,87}}</string>
                <key>sourceSize</key>
                <string>{411,87}</string>
            </dict>
            <key>btn_again_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{411,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,87}}</string>
                <key>sourceSize</key>
                <string>{411,87}</string>
            </dict>
            <key>btn_see_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,131},{411,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,127}}</string>
                <key>sourceSize</key>
                <string>{411,127}</string>
            </dict>
            <key>btn_see_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{411,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,127}}</string>
                <key>sourceSize</key>
                <string>{411,127}</string>
            </dict>
            <key>btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{411,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,87}}</string>
                <key>sourceSize</key>
                <string>{411,87}</string>
            </dict>
            <key>btn_share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,260},{411,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,87}}</string>
                <key>sourceSize</key>
                <string>{411,87}</string>
            </dict>
            <key>btn_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{381,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,127}}</string>
                <key>sourceSize</key>
                <string>{381,127}</string>
            </dict>
            <key>btn_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,287},{381,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,127}}</string>
                <key>sourceSize</key>
                <string>{381,127}</string>
            </dict>
            <key>hub.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{604,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,63}}</string>
                <key>sourceSize</key>
                <string>{604,63}</string>
            </dict>
            <key>tit_gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,87}}</string>
                <key>sourceSize</key>
                <string>{604,87}</string>
            </dict>
            <key>tit_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{571,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,129}}</string>
                <key>sourceSize</key>
                <string>{571,129}</string>
            </dict>
            <key>wool.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b4eb955805b58134d984298afe82399$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
