<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,264}}</string> 
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,264}}</string>
                <key>sourceSize</key>
                <string>{332,264}</string>
            </dict>
            <key>sheep_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>sheep_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,266},{324,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,248}}</string>
                <key>sourceSize</key>
                <string>{324,248}</string>
            </dict>
            <key>sheep_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{336,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,258}}</string>
                <key>sourceSize</key>
                <string>{336,258}</string>
            </dict>
            <key>sheep_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,262},{330,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,254}}</string>
                <key>sourceSize</key>
                <string>{330,254}</string>
            </dict>
            <key>sheep_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{362,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,244}}</string>
                <key>sourceSize</key>
                <string>{362,244}</string>
            </dict>
            <key>sheep_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{356,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,252}}</string>
                <key>sourceSize</key>
                <string>{356,252}</string>
            </dict>
            <key>sheep_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,510},{326,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,268}}</string>
                <key>sourceSize</key>
                <string>{326,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35e877be227ba965aa6b0cc9918fe236$</string>
            <key>textureFileName</key>
            <string>sheep.png</string>
        </dict>
    </dict>
</plist>
