.Mark{
     width: 32px; 
     height: 32px;
     left: 50%; top: 50%;
     position: absolute;
     margin-left: -16px;
     margin-top: -16px; 
     -webkit-box-sizing:border-box;
     z-index: 10;
   }
   .NetWork{
      width:75px;
      height: 75px;
      position: absolute;
      top: 50%;
      left: 50%;margin-left: -37.5px; 
      margin-top: -37.5px;
      opacity: 0;
      -webkit-animation:text_3 2s infinite;
      -webkit-animation-timing-function:cubic-bezier(0,0,1,1);
      z-index: 1;
    }
    .NetWork1{
      width:90px;
      height: 90px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -45px;
      margin-top: -45px;
      opacity: 0;
      -webkit-animation:text_3 2s infinite;
      -webkit-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);
      z-index: 1;
    }
    .NetWork2{
      width:105px;
      height: 105px;
      position: absolute;
      top: 50%;
      left: 50%;margin-left:-52.5px;
      margin-top: -52.5px;
      opacity: 0;
      -webkit-animation:text_3 2s infinite;
      -webkit-animation-timing-function:cubic-bezier(0.42,0,1,1);
      z-index: 1;
    }
    @-webkit-keyframes text_3 {
      0% { -webkit-transform:scale(0,0); opacity: 0;}
      100% { -webkit-transform:scale(1,1); opacity: .7;}
      /*100% { -webkit-transform:scale(0,0); opacity: 0;}*/
    }
    .load{
      width: 100%; position: absolute;
      height: 100%; background-color: #000;
      z-index: 100;
    }
    .gif{
     z-index: 12000;
     position: fixed;
     bottom: 1%;
     width: 8%;
     left: 47%;
}